<input type="text" id="buscador" placeholder="buscar..." class="search-input">

<div class="catalogos-container">

    <a href="catalogos/nude.pdf" target="_blank" class="catalog-card">
        <img src="assets/img/img_catalogo/nude.png" alt="">
        <h3>Catálogo Nude</h3>
    </a>

    <!-- ...y todos los demás catálogos... -->
 <!-- CATALOGO 2 -->
    <a href="catalogos/stussy.pdf" target="_blank" class="catalog-card">
        <img src="assets/img/img_catalogo/stussy.png" alt="Imagen catálogo">
        <h3>Catálogo Stussy</h3>
    </a>

<a href="../catalogos/ASSC/index2.html" class="catalog-card">
    <img src="../assets/img/img_catalogo/ASSC.png" alt="Imagen catálogo">
    <h3>Catálogo Anti Social Social Club</h3>
</a>

  <!-- CATALOGO 4-->
    <a href="catalogos/catalogo_OnePiece.pdf" target="_blank" class="catalog-card">
        <img src="assets/img/img_catalogo/CasaBlanca.png" alt="Imagen catálogo">
        <h3>Catálogo Casa Blanca</h3>
    </a>

      <!-- CATALOGO 5 -->
    <a href="catalogos/Catalogo_naruto_1_0.pdf" target="_blank" class="catalog-card">
        <img src="assets/img/img_catalogo/naruto.png" alt="Imagen catálogo">
        <h3>Catálogo Naruto</h3>
    </a>
  <!-- CATALOGO 5 -->
    <a href="catalogos/catalogo_OnePiece.pdf" target="_blank" class="catalog-card">
        <img src="assets/img/img_catalogo/onepiece.png" alt="Imagen catálogo">
        <h3>Catálogo One Piece</h3>
    </a>

  <!-- CATALOGO 5 -->
    <a href="catalogos/Catalogo_Bad_bunny.pdf" target="_blank" class="catalog-card">
        <img src="assets/img/img_catalogo/badbunny.jpg" alt="Imagen catálogo">
        <h3>Catálogo Bad Bunny</h3>
    </a>

  <!-- CATALOGO 5 -->
    <a href="catalogos/Catalogo_Bad_bunny.pdf" target="_blank" class="catalog-card">
        <img src="assets/img/img_catalogo/JuniorH.png" alt="Imagen catálogo">
        <h3>Catálogo Junior H</h3>
    </a>

  <!-- CATALOGO 5 -->
    <a href="catalogos/stussy.pdf" target="_blank" class="catalog-card">
        <img src="assets/img/img_catalogo/Youngla.png" alt="Imagen catálogo">
        <h3>Catálogo Youngla LA</h3>
    </a>


</div>
