<!-- Barra de anuncio -->
<div class="barra-anuncio">
    <div class="marquee">
        <span>Pronto mas catalogos</span>
        <span>Por el momento, entregas en la CDMX</span>
        <span>instagram @benshi.mx</span>

        <span>Pronto mas catalogos</span>
        <span>Por el momento, entregas en la CDMX</span>
        <span>instagram @benshi.mx</span>
    </div>
</div>

<header class="header-logo">
    <img src="assets/img/logo_principal/benshi2.png" alt="Logo-BENSHI">
</header>


